<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.guli.service.edu.mapper.ChapterMapper">
    <resultMap id="selectChapterAndVideosByCourseMap" type="com.atguigu.guli.service.edu.entity.Chapter">
        <id column="id" property="id"></id>
        <result column="course_id" property="courseId"></result>
        <result column="title" property="title"></result>
        <result column="sort" property="sort"></result>

        <collection property="videos" ofType="com.atguigu.guli.service.edu.entity.Video">
            <id column="v_id" property="id"></id>
            <result column="v_free" property="free"></result>
            <result column="v_sort" property="sort"></result>
            <result column="v_title" property="title"></result>
            <result column="video_source_id" property="videoSourceId"></result>
        </collection>
    </resultMap>
    <select id="getChapterAndVideo" resultMap="selectChapterAndVideosByCourseMap">
        SELECT t1.id , t1.`course_id` , t1.`title` , t1.`sort` ,
        t2.id v_id , t2.`is_free` v_free , t2.`sort` v_sort ,
        t2.`title` v_title , t2.`video_source_id`

        FROM edu_chapter t1
        LEFT JOIN edu_video t2
        ON t1.`id` = t2.`chapter_id`
        -- 通过queryWrapper自动将设置给他的条件转为动态sql使用
        ${ew.customSqlSegment} -- 等价于 where id = xxx
        -- ORDER BY t1.`sort`,t2.`sort`
    </select>
</mapper>
