<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.TTravelitemMapper">
    <resultMap id="BaseResultMap" type="com.atguigu.pojo.TravelItem">
        <!--@mbg.generated-->
        <!--@Table t_travelitem-->
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="price" property="price"/>
        <result column="type" property="type"/>
        <result column="attention" property="attention"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, code, `name`, sex, age, price, `type`, attention, remark
    </sql>

    <insert id="add">
        insert into t_travelitem (code, name, sex, age, price, type, attention, remark)
        values (#{code}, #{name}, #{sex}, #{age}, #{price}, #{type}, #{remark}, #{attention})
    </insert>

    <select id="findPage" resultMap="BaseResultMap">
        select *
        from t_travelitem
        <where>
            <if test="queryString != null and queryString.length > 0">
                code = #{queryString}
                        or name like concat('%', #{queryString}, '%')
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-07-28-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_travelitem
        where id = #{id}
    </select>


    <update id="edit">
        update t_travelitem
        <set>
            <if test="code != null">
                code=#{code},
            </if>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="sex != null">
                sex=#{sex},
            </if>
            <if test="age != null">
                age=#{age},
            </if>
            <if test="price != null">
                price=#{price},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
            <if test="remark != null">
                remark=#{remark},
            </if>
            <if test="attention != null">
                attention=#{attention}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-07-28-->

    <select id="findCount" resultType="int">
        select count(1)
        from t_travelitem
        where id = #{id};
    </select>

    <delete id="delete">
        delete
        from t_travelitem
        where id = #{id};
    </delete>

    <!--auto generated by MybatisCodeHelper on 2021-07-29-->
    <update id="updateById">
        update t_travelitem
        <set>
            <if test="updated.id != null">
                id = #{updated.id},
            </if>
            <if test="updated.code != null">
                code = #{updated.code},
            </if>
            <if test="updated.name != null">
                name = #{updated.name},
            </if>
            <if test="updated.sex != null">
                sex = #{updated.sex},
            </if>
            <if test="updated.age != null">
                age = #{updated.age},
            </if>
            <if test="updated.price != null">
                price = #{updated.price},
            </if>
            <if test="updated.type != null">
                type = #{updated.type},
            </if>
            <if test="updated.attention != null">
                attention = #{updated.attention},
            </if>
            <if test="updated.remark != null">
                remark = #{updated.remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-07-29-->
    <delete id="deleteById">
        delete
        from t_travelitem
        where id = #{id}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2021-07-29-->
    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from t_travelitem
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select *
        from t_travelitem
    </select>


    <select id="getTravelItemByGroupId" resultType="com.atguigu.pojo.TravelItem">
        select t_travelitem.*
        from t_travelitem
        where id in (
                select travelitem_id
                from t_travelgroup_travelitem
                where travelgroup_id = #{gruopId}
                )
    </select>
</mapper>