.idea
__pycache__/
*.pyc
venv
build
Aestate.egg-info
dist
*.pypirc
.vs
.eggs
.vscode
.ipynb_checkpoints

**/.vs
**/x64
**/x32
**/cmake*

*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/