bleach==3.3.0
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
cPython==0.0.6
Cython==0.29.23
docutils==0.17.1
idna==2.10
importlib-metadata==4.0.1
keyring==23.0.1
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pip==21.0.1
pkginfo==1.7.0
prettytable==2.1.0
Pygments==2.9.0
pymongo==3.11.4
pymssql==2.1.5
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests==2.25.1
rfc3986==1.5.0
setuptools==52.0.0.post20210125
six==1.16.0
tqdm==4.60.0
twine==3.4.1
typing-extensions==3.10.0.0
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
wincertstore==0.2
zipp==3.4.1
