<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.OrderSettingMapper">

    <select id="getCountByOrderDate" resultType="java.lang.Integer">
        select count(1) from t_ordersetting where orderDate=#{orderDate}
    </select>

    <update id="edit">
        update t_ordersetting set number=#{number} where orderDate=#{orderDate}
    </update>

    <insert id="add">
            insert into  t_ordersetting  (orderDate, number) values (#{orderDate},#{number})
    </insert>

    <select id="getOrderSettingList" resultType="com.atguigu.pojo.OrderSetting">
        select * from t_ordersetting where orderDate like concat(#{value},'%')
    </select>

    <select id="getOrderSettingByOrderDate" resultType="com.atguigu.pojo.OrderSetting">
        select * from t_ordersetting where orderDate=#{orderDate}
    </select>
</mapper>
